body{
    display: flex;
    flex-direction: column;
}

.header,.main-text{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head-logo{
    font-size: 24px;
    color: #F9FAF8;

}

.rev-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;

}

a{
    color: #F9FAF8;
    text-decoration: none;

}

.main-text{
    padding: 50px 140px;

}
.bold-text{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin: 0;
}


.descrip{
    font-size: 18px;
    color: #E5E7EB;

}



.join{
    background-color: #3882F6;
    color: #E5E7EB;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #3882F6;
}

.head-info{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    color: #1F2937;

}

.info{
    display: flex;
    justify-content: space-evenly;
}

.img-info img{
    border: 5px #3882F6;
    border-radius: 5px;

}
.img-info{
    display: flex;
    flex-direction: column;
    

}
