body{
    display: flex;
    flex-direction: column;
}


.header{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.head-logo{
    font-size: 24px;
    color: #F9FAF8;

}

.rev-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;

}

a{
    color: #F9FAF8;
    text-decoration: none;

}